body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

th {
  width: 120px;
  padding-top: 25px;
  padding-bottom: 30px;
}

td {
  padding: 5px;
}

.time {
  height: 40px;
}

.Event {
  border-radius: 5px;
  text-align: center;
}

.Event h5 {
  margin: 5px 0;
}

.green {
  background-color: #90EE90;
}

.blue {
  background-color: #ADD8E6;
}

.pink {
  background-color: #FFB6C1;
}
